[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
yave = { path = ".." }
qmp = { path = "../qmp" }
tokio = { version = "1.48.0", features = ["full"] }
